<!DOCTYPE html>
<html lang="pt-br">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-6">
      <h2>Cadastrar Montadora<h2>
      <form action="/cadastramontadora" method="POST">
          <input type="text" placeholder="Nome" name="name">          
          <button type="submit">Cadastrar</button>
      </form>           
    </div>
    <div class="col-sm-6"> 
      <h1>Lista de Montadoras</h1>
      <ul>
        <% for(var i = 0; i < montadora.length; i++){ %>
          <li><%= montadora[i].MONID %> - <%= montadora[i].MONNOME %>
            &nbsp;|&nbsp;
            <a href="/removemontadora/<%= montadora[i].MONID %>">Excluir</a>
          </li>
        <% } %>
      </ul>
    </div>    
  </div>
</div>

</body>
<% include partials/script %>
</html>