<!DOCTYPE html>
<html lang="pt-br">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-6">
      <h2>Cadastrar Veiculo<h2>
      <form action="/cadastraveiculo" method="POST">
          <input type="text" placeholder="Nome" name="name">          
          <button type="submit">Cadastrar</button>
      </form> 
    </div>
    <div class="col-sm-6"> 
      <h1>Lista de Veiculos</h1>
      <ul>
        <% for(var i = 0; i < veiculo.length; i++){ %>
          <li><%= veiculo[i].VEIID %> - <%= veiculo[i].VEINOME %>
            &nbsp;|&nbsp;
			<% var j = i + 1 %>
            <a href="/removeveiculo/<%= j %>">Excluir</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>